/* font-family Roboto, Raleway*/

/* Використовуючи універсальний селектор * (вибирає всі елементи), значення border-box встановлюється для всіх елементів і псевдоелементів ::before та ::after документа (про них дізнаємося пізніше). */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 72px;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 0.02em;
  color: #434455;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
    margin-bottom: 72px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* HEADER */

.header {
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-main {
  display: flex;
  align-items: center;
  gap: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin: 0;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-header-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;

}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current {
  color: #404bbf;
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  /* Чому саме bottom: -1px

у header є border-bottom: 1px solid #e7e9fc

-1px візуально ставить лінію рівно над бордером

це стандартний прийом у макеті WebStudio
*/ 
  bottom: -1px;
  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-nav {
  display: inline-block;
  color: #434455;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav:hover,
.address-nav:focus {
  color: #404bbf;
}

/* HERO */

.main-hero {
  margin: 0 auto;
/*  padding-top: 72px; */
}

.hero-bg {
  padding: 188px 0;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  /* height: 600px; */

  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)),
    url(../images/people-office.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  max-width: 496px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #fff;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* FEATURES */

.features {
  padding: 120px 0;
}

.features .container {
  display: flex;
  align-items: center;
  gap: 48px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

/* TEAM */

.team {
  background-color:  #f4f4fd;
  padding: 120px 0;
}

.team-title {
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-part {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-part img {
  width: 264px;
  height: 260px;
}

.border-team {
  padding: 32px 16px;
  text-align: center;
}

.list-social-media {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
  margin-top: 8px;
}

list-social-media:hover,
list-social-media:focus {
  color: #404bbf;
}

.list-social-media .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:  #4d5ae5;

  transition:
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-media .link:hover,
.list-social-media .link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

/* PORTFOLIO */

.portfolio {
  padding: 120px 0;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-part {
  width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-part:hover {
  box-shadow:
  0px 2px 1px 0px rgba(46, 47, 66, 0.08),
  0px 1px 1px 0px rgba(46, 47, 66, 0.16),
  0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-part:hover .overlay {
  transform: translateY(0);
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  font-family: "Roboto", sans-serif;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;

  padding: 40px 32px;
}

.portfolio-part img {
  width: 360px;
}

.border-portfolio {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  gap: 120px;
  align-items: baseline;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-logo-part-two {
  color: #f4f4fd;
}

.footer-social-media {
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer .list-social-media {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  flex-shrink: 0;
  align-self: flex-end;
  margin-top: 16px;
}


.footer-social-media .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:  #4d5ae5;

  transition:
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .list-social-media .link:hover,
.footer .list-social-media .link:focus {
  background-color: #31d0aa;
}